
    {% include "header.html" %}
    
    <div id="carouselExampleRide" class="carousel slide carousel-container" data-bs-ride="true" style="margin-top: 90px; max-width: 100%; ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/image/cattle2.avif" class="d-block w-100" alt="..." style="max-height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="/static/image/cattle2.avif" class="d-block w-100" alt="..." style="max-height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item">
          <img src="/static/image/cattle2.avif" class="d-block w-100" alt="..." style="max-height: 500px; object-fit: cover;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container text-left my-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 ">
          <h1 class="heading text-center">
            Introducing Krushigandha Agro: Your Trusted Partner in Quality Cattle Feed
          </h1>
          <p class="text-center">
            Krushigandha Agro is a newly established company focused on providing high-quality, balanced cattle feed to enhance livestock health and productivity. With a commitment to innovation and customer satisfaction, we produce feed tailored to the needs of different cattle breeds, ensuring optimal growth and health. Our state-of-the-art manufacturing facility and dedicated team are working to build a strong network of satisfied farmers and dealers, aiming to become a trusted name in the cattle feed industry and contribute to the growth of Indian agriculture.
          </p>
          <!-- Button centered relative to the information above -->
          <div class="text-center">
            <a class="btn btn-success mt-3" href="/overall/">ABOUT US</a>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="container">
      <div class="row justify-content-center">
        <!-- First Card -->
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <h5 class="card-title p-3">
              <i class="fa-solid fa-handshake"></i> Reasons to Choose Krushigandha Agro Cattle Feed
            </h5>
            <div class="img-container">
              <img src="/static/image/cattle_farmer.webp" class="card-img-top img-hover" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">We offer cattle feed products, which are thoroughly hygienic and safe for animals and cattle. We make sure that the products we supply are manufactured from the finest quality raw materials.</p>
              <a href="/overview3" class="card-link">Read more</a>
            </div>
          </div>
        </div>
        <!-- Second Card -->
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <h5 class="card-title p-3">
              <i class="fa-solid fa-cow"></i> Benefits of Feeding Krushigandha Agro Cattle Feed
            </h5>
            <div class="img-container">
              <img src="/static/image/cows.webp" class="card-img-top img-hover" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">From the traditional feeding practices it was observed that animals do not get all the required nutrition for efficient milk production, body maintenance and better reproduction.Therefore, milk producers are suggested...</p>
              <a href="/benefit" class="card-link">Read more</a>
            </div>
          </div>
        </div>
        <!-- Third Card -->
        <div class="col-12 col-md-4 mb-4">
          <div class="card">
            <h5 class="card-title p-3">
              <i class="fa-solid fa-building"></i> Krushigandha Agro: Quality Feed for Healthier Livestock
            </h5>
            <div class="img-container">
              <img src="/static/image/cattle_feed.jpg" class="card-img-top img-hover" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Provides high-quality cattle feed designed to enhance livestock health and productivity. Our carefully crafted formulas ensure optimal nutrition for cattle, promoting better growth and improved milk yield.</p>
              <a href="/overview3" class="card-link">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
   

    {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>